<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>El nombre del primer familiar es {{nome1}}, tiene {{edade1}} años, nació el {{nacimento1}}.</p>
    <p>El nombre del segundo familiar es {{nome2}}, tiene {{edade2}} años, nació el {{nacimento2}}.</p>
    <p>El nombre del tercer familiar es {{nome3}}, tiene {{edade3}} años, nació el {{nacimento3}}.</p>
</body>
</html>